  * {
    padding: 0;
    margin: 0;
  }
    
  Body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-position: absolute;
    background: linear-gradient(45deg, #e2dfff, #ffdada);
        
   
    }
    
  .head {
    height: 20vh;
    width: cover;
    background-color: #2b2b2b;
    color: white;
    word-spacing: 3px;
    box-shadow: 0 0 15px #2b2b2b;
    }
   
  A {
    text-decoration: none;
   }
  
  P {
    top: 40%;
    left: 40%;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0.3%;
    margin: 1%;
    color: #212121;
   } 
  h1 {
    top: 40%;
    left: 40%;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0.3%;
    color: #212121;
  }
  
 .life {   
    justify-content: center;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 0.3%;
    color: #212121;
 }
 
 .lif {
    justify-content: center;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 0.3%;
    color: #212121;
 }
 
 .strah { 
    color: #E7E7E7;
    cursor: pointer;
    position: absolute;
    left: 72%;
    top: 5.24%;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 .sam { 
    color: #E7E7E7;
    cursor: pointer;
    position: absolute;
    left: 80.5%;
    top: 5.24%;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 .sam:hover {    
    transition: 0.3s;
    transform: scale(1.1);
 }
 
 .strah:hover {    
    transition: 0.3s;
    transform: scale(1.2);
 }
 
 .w1 { 
    color: #E7E7E7;
    text-decoration: none;
    position: absolute;
    left: 78.6%;
    top: 5.24%;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: default;
    cursor: auto;
    }   
 
 .rad { 
    color: #E7E7E7;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 63%;
    top: 5.24%;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
   }

   .rad:hover {    
    transition: 0.3s;
    transform: scale(1.15);
}

.w2 { 
    color: #E7E7E7;
    text-decoration: none;
    position: absolute;
    left: 70.6%;
    top: 5.24%;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: default;
    cursor: auto;
}   
